<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/styles/style.css' />
  </head>
  <body class="index">
    <form action="/" method="POST">
      <section class="form-register">
        <h4>Ingreso de HC</h4>
        <input class="controls" type="number" name="hc" id="hc" placeholder="HC">
        <input class="controls" type="text" name="firstname" id="firstname" placeholder="Nombre" >
        <input class="controls" type="text" name="lastname" id="lastname" placeholder="Apellido">
        <input class="controls" type="date" name="lastAppointment" id="lastAppointment" placeholder="Ultimo registro">
        <input class="controls" type="text" name="box" id="box" placeholder="Ingrese caja">
        <input class="botons" type="submit" value="Registrar">
      </section>
    </form>
    
  
  </body>
</html>
