<header class="header">
  <div>
    <a href="/" class="container-logo"><img src="/img/logo-msm.png" class="logo"></a>
  </div>
  <div class="navbar-header">
    <a href="/" class="m-1"><i class="fas fa-home p-1"></i> Inicio</a>
    <a href="/listado" class="m-1"><i class="fas fa-list p-1 "></i> Listado</a>
    <!-- <% if (locals.userLogin) { %>
      <span class="text-light m-1"><i class="fas fa-user-circle"></i> <%- locals.userLogin.usuario %></span>
      <% } else { %>
        <a href="/login" class="m-1"><i class="fas fa-sign-in-alt p-1"></i> Iniciar sesión</a>
        <% } %> -->
  </div>
</header>