<header class="header">
  <a class="active logo" href="/">Historias Clínicas</a>
  <div class="navbar-header">
    <a href="/"><i class="fa fa-fw fa-search m-2"></i> Inicio</a> 
    <a href="/listado"><i class="fa fa-fw fa-envelope m-2"></i> Listado</a>
    <!-- <a href="#" id="login"><i class="fa fa-fw fa-user m-2"></i> Login</a> -->
  </div>
</header>