<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
      <div class="navbar-brand">
        <a class="text-white">HISTORIAS CLINICAS</a>
        <a class="text-white ml-5" href="/">Inicio</a>
        <a class="text-white ml-5" href="/listado">Listado</a>
      </div>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Buscar</button>
      </form>
    </div>
  </nav>