  <div class="navbar-header">
    <a class="active" href="/"><i class="fa fa-fw fa-home m-2"></i> Historias Clinicas</a> 
    <!-- <a href="/"><i class="fa fa-fw fa-search m-2"></i> Inicio</a>  -->
    <a href="/listado"><i class="fa fa-fw fa-envelope m-2"></i> Listado</a> 
    <a href="#"><i class="fa fa-fw fa-user m-2"></i> Login</a>
    <div class="d-flex search">
      <form >
        <input id="searchInput" class="form-control" type="search" placeholder="Buscar" aria-label="Search">
      </form>
    </div>
  </div>