
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

textarea {
  resize: none !important;
}

body {
  font-family: var(--font-family);
  background-color: var(--color-background) !important;
}

:root{
  --font-family: 'Roboto', sans-serif;
  --color-background: #6c757d;
  --color-header: #555;
  --color-header-logo: #1f53c5;
  --color-header-a: #fff;
  --color-background-form: #24303c;
  --color-form-title: #fff;
  --color-form-background-input: #24303c;
  --color-form-border-input: #1f53c5;
  --color-form-text-input: #808080;
}