.form-header {
  background-color: #1f53c5;
}
.navbar-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #555;
  overflow: auto;
}

.navbar-header a {
  float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}
.navbar-header .search {
  display: flex;
  justify-content: end;
  margin: 10px;
}
.active {
  background-color: #1f53c5
  
}
@media screen and (max-width: 760px) {
  .navbar-header {
    flex-direction: column;
  }
  .navbar-header .search {
    display: flex;
    justify-content: left;
    margin: 10px;
  }
}
