.form-header {
  background-color: var(--color-header-logo);
}
.navbar-header {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  background-color: var(--color-header);
  overflow: auto;
}

.navbar-header a {
  float: left;
  padding: 12px;
  color: var(--color-header-a);
  text-decoration: none;
  font-size: 17px;
}
.navbar-header .search {
  display: flex;
  margin: 10px;
  justify-content: left;
}
.active {
  background-color: var(--color-header-logo)
  
}
@media screen and (min-width: 525px) {
  .navbar-header {
    flex-direction: row;
  }
}
