.form-header {
  background-color: var(--color-header-logo);
}
.header {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0.75rem 0.75rem;
  background-color: var(--color-header);
  overflow: auto;
  border-bottom: 2px solid var(--color-background);
}
.header .logo {
  height: 100%;
  color: var(--color-header-logo);
  font-size: 23px;
  padding: 0.75rem;
}
.navbar-header {
  display: flex;
  flex-direction: column;
}

.navbar-header a {
  float: left;
  color: var(--color-header-a);
  text-decoration: none;
  font-size: 17px;
}
.navbar-header .search {
  display: flex;
  margin: 10px;
  justify-content: left;
}
@media screen and (min-width: 525px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 0.75rem;
    align-items: center;
  }
  .navbar-header {
    flex-direction: row;
    align-items: center;
  }
}
